name: CI Pipeline
 
on:
  push:
    branches:
      - main
 
jobs:
  build:
    runs-on: ubuntu-latest
 
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
 
      - name: Run a sample script
        run: echo "CI pipeline running successfully!"
 
      - name: List files
        run: ls -la
